<!--Esse template herda no extends o layout.html
ELe tem estruturas básicas de layout-->

{% extends 'layout.html' %}


{% block title %}
Home - Sobre Mim
{% endblock %}

{% block content %}
<h1>Bem-vindo!</h1>

<h2>Sobre Mim</h2>
<p>
    Olá! Erick é um estudante de 17 anos de idade. Atualmente estou cursando no <strong>Colégio Cotemig</strong>, 
    um colégio técnico especializado em Tecnologia da Informação localizado em Belo Horizonte. Essa experiência tem sido 
    fundamental para meu desenvolvimento acadêmico e profissional.
</p>

<h2>Minhas Paixões e Interesses</h2>
<p>
    Sou apaixonado por tecnologia e tenho grande interesse em aprender <strong>Python</strong>, uma linguagem de programação 
    versátil e poderosa que me permite criar soluções práticas e inovadoras. Além disso, sou fortemente atraído pela área de 
    <strong>Inteligência Artificial</strong>, que representa o futuro da tecnologia e oferece infinitas possibilidades para 
    resolver problemas complexos.
</p>

<h2>Objetivo</h2>
<p>
    Estou dedicado a aprofundar meus conhecimentos em programação e IA, buscando compreender os conceitos fundamentais e 
    aplicá-los em projetos reais. Acredito que a combinação de Python e Inteligência Artificial abrirá muitas portas para 
    uma carreira promissora e impactante na área de tecnologia.
</p>

{% endblock %}